<!--- Designed by Giorgia Bosello, Luca Pinton, Aleksandar Djokic, Sergio Nalesso (Glas) --->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Glas Travels">
    <meta name="description" content="La compagnia di viaggi #1 al mondo!">
    <title>Glas Travels</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="mapglyphs/mapglyphs.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

    <!-- ContactForm  -->
    <link rel="stylesheet" href="css/datepicker.css" type="text/css">
    <script src="js/datepicker.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.datepicker').datepicker();
        });
    </script>


</head>

<body>

    <div class="background_body">

        <!--- NAVBAR --->

        <div id="navbar"></div>

        <!-- Date Picker -->


        <div class="hermes-modal-booking" ng-app="booking">

            <div class="container-fluid" ng-controller="bookingController">
                <div class="row">

                    <div class="col-md-8 border-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group date-input">
                                    <input type="text" id="datein" value="{{book.from.format('L')}}" class="form-control check-in-input" readonly="true">
                                </div>
                                <!-- end of form group -->
                            </div>
                            <!-- end of col 6 -->
                            <div class="col-md-6">
                                <div class="form-group date-input">
                                    <input type="text" value="{{book.to.format('L')}}" id="dateout" class="form-control check-in-input" readonly="true">
                                </div>
                                <!-- end of form group -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="calendar-wrapper" id="calendar">

                                <div id="dates" booking-calendar-directive check-in="book.from" check-out="book.to" difference="difference" class="col-md-6">

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 daysSection">


                        <ul>
                            <li id="din"><b><i class="fa fa-arrow-right"></i> Check In:</b> {{book.from.format('L')}}</li>
                            <li id="dout"><b><i class="fa fa-arrow-left"></i> Check Out: </b> {{book.to.format('L')}}</li>
                        </ul>

                        <div class="divider"></div>
                        <p class="days"><b>Numero di noti:</b> {{difference}}</p>
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label><i class="fa fa-user"></i> Adulti</label>
                                    <input type="number" class="form-control adults" value="1" min="1" max="4" ng-model="book.rooms[0].adults" />
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label><i class="fa fa-user"></i> Bambini</label>
                                    <input ng-click="rooms = true" type="number" value="0" class="form-control childs" min="0" max="4" ng-model="book.rooms[0].childsNum" ng-change="book.generateChildren(book.rooms[0])" />
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><i class="fa fa-barcode"></i> Codice Promo</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <button id="morerooms" type="button" class="btn btn-primary btn-sm btn-block" ng-click="rooms = !rooms">
                                    <span ng-show="rooms == true"><i class="fa fa-angle-left"></i> Torna alle date</span>
                                    <span ng-show="rooms == false"><i class="fa fa-angle-right"></i> Più le camere</span>
                                </button>

                            </div>

                            <div class="col-md-12 validation" ng-show="difference < 1 || !book.from || !book.to">
                                <strong>Attenzione per procedere :</strong>
                                <p>Seleziona un range di date.
                                    <br/>
                                </p>

                            </div>

                            <div class="col-md-12">
                                <button id="verify" ng-disabled="!difference || !book.from || !book.to" type="button" class="btn btn-success btn-lg btn-block" ng-click="book.verify('138', '1331')"><i class="fa fa-search"></i> VERIFICA DISPONIBILITÀ</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- end of row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        Powered by <a href="www.hermeshotels.it">HermesHotels</a>
                        <br/>
                        <img src="https://pbs.twimg.com/profile_images/511527057004589056/oWG-TqHq_normal.jpeg" heigth="30" width="30" />
                    </div>
                </div>

                <div class="row room-detail" ng-show="rooms == 1">
                    <div class="col-md-12 inner-padding" id="roomlist">

                        <div class="row">
                            <div class="col-md-12 rooms-header">
                                <h4>Dettaglio Camera</h4>
                            </div>
                        </div>

                        <div ng-repeat="room in book.rooms">

                            <div class="row">
                                <div class="col-md-3">
                                    Camera {{$index + 1}}
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-sm" ng-model="room.adults" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" class="form-control input-sm" ng-model="room.childsNum" ng-change="book.generateChildren(room)" max="4" />
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="book.removeRoom($index)"><i class="fa fa-trash-o"></i> Rimuovi</button>
                                </div>
                            </div>
                            <!-- end of row -->

                            <div class="row child-ages" ng-show="room.childs.length > 0">
                                <div class="col-md-3" ng-repeat="children in room.childs">
                                    <div class="from-group">
                                        <select class="form-control input-sm" ng-model="children.age">
                                            <option value="0">0 Anni</option>
                                            <option value="1">1 Anno</option>
                                            <option value="2">2 Anni</option>
                                            <option value="3">3 Anni</option>
                                            <option value="4">4 Anni</option>
                                            <option value="5">5 Anni</option>
                                            <option value="6">6 Anni</option>
                                            <option value="7">7 Anni</option>
                                            <option value="8">8 Anni</option>
                                            <option value="9">9 Anni</option>
                                            <option value="10">10 Anni</option>
                                            <option value="11">11 Anni</option>
                                            <option value="12">12 Anni</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- end of row -->


                        </div>
                        <!-- end of rooms -->

                    </div>

                    <div class="col-md-12 children-list">
                        <button class="btn btn-primary btn-sm" id="addroom" ng-click="book.addRoom()" ng-disabled="book.rooms.length >= 4">
                            <span ng-show="book.rooms.length >= 4">
              Limite Raggiungo ( massimo 4 )
            </span>
                            <span ng-show="book.rooms.length < 4">
              Aggiungi camera
            </span>
                        </button>
                    </div>

                </div>

            </div>
            <!-- end of container -->

        </div>
        <!-- end of modal container -->
        <!--- FOOTER --->

        <div id="footer"></div>
    </div>


    <!-- scripts parts -->

    <script>
        $("#navbar").load("navbar.html");
    </script>
    <script>
        $("#footer").load("footer.html");
    </script>
</body>