<!--- Designed by Giorgia Bosello, Luca Pinton, Aleksandar Djokic, Sergio Nalesso (Glas) --->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Glas Travels">
    <meta name="description" content="La compagnia di viaggi #1 al mondo!">
    <title>Glas Travels</title>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fontawesome/css/font-awesome.css" rel="stylesheet">

    <!-- MapGlyphs -->
    <link href="mapglyphs/mapglyphs.css" rel="stylesheet">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">
    <script src="flexslider/jquery.flexslider.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider();
        });
    </script>

    <!-- Booking  -->
    <link rel="stylesheet" href="css/datepicker.css" type="text/css">
    <script src="js/datepicker.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.datepicker').datepicker();
        });
    </script>

</head>

<body>
    <div class="background_body">

        <!--- NAVBAR --->

        <div id="navbar"></div>

        <!-- CONTENT -->

        <div id="site_content">

            <!--- SLIDER --->

            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/maldive2000x550.jpg" alt="immagine Maldive" />
                        <div class="slide_text">
                            <div class="slide_title">Maldive</div>
                            <div class="slide_byline">Promozione 2999€ per 2.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/alaska2000x550.jpg" alt="immagine Alaska" />
                        <div class="slide_text">
                            <div class="slide_title">Alaska</div>
                            <div class="slide_byline">Sulla neve entro Dicembre 2015.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/australia2000x550.jpg" alt="immagine Australia" />
                        <div class="slide_text">
                            <div class="slide_title">Australia</div>
                            <div class="slide_byline">Visita il grande Sydney Opera House e vai a spasso con i canguri. Fino al 10 giugno 2015!
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/statiuniti2000x550.jpg" alt="immagine New York" />
                        <div class="slide_text">
                            <div class="slide_title">New York</div>
                            <div class="slide_byline">Un viaggio sulla grande Mela.
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/washington2000x550.jpg" alt="immagine Washington" />
                        <div class="slide_text">
                            <div class="slide_title">Washington DC</div>
                            <div class="slide_byline">Visita la famosa capitale Statunitense!
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/cina2000x550.jpg" alt="immagine Muraglia Cinese - Cina" />
                        <div class="slide_text">
                            <div class="slide_title">Cina</div>
                            <div class="slide_byline">1999€ per 2 all-inclusive.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- ======== WIDGET PRENOTAZIONE ==========-->
            <div class="container marketing">

                <div class="hermes-modal-booking ng-scope" ng-app="booking">

                    <div class="container-fluid ng-scope" ng-controller="bookingController">
                        <div class="row">

                            <div class="col-md-8 border-section">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group date-input">
                                            <input type="text" id="datein" value="04/22/2015" class="form-control check-in-input" readonly="true">
                                        </div>
                                        <!-- end of form group -->
                                    </div>
                                    <!-- end of col 6 -->
                                    <div class="col-md-6">
                                        <div class="form-group date-input">
                                            <input type="text" value="04/23/2015" id="dateout" class="form-control check-in-input" readonly="true">
                                        </div>
                                        <!-- end of form group -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="calendar-wrapper" id="calendar">

                                        <div id="dates" booking-calendar-directive="" check-in="book.from" check-out="book.to" difference="difference" class="col-md-6 ng-isolate-scope hasDatepicker">

                                            <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all ui-datepicker-multi ui-datepicker-multi-2" style="display: block; width: 34em;">
                                                <div class="ui-datepicker-group ui-datepicker-group-first">
                                                    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-left"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
                                                        <div class="ui-datepicker-title"><span class="ui-datepicker-month">April</span>&nbsp;<span class="ui-datepicker-year">2015</span>
                                                        </div>
                                                    </div>
                                                    <table class="ui-datepicker-calendar">
                                                        <thead>
                                                            <tr>
                                                                <th class="ui-datepicker-week-end"><span title="Sunday">Su</span>
                                                                </th>
                                                                <th><span title="Monday">Mo</span>
                                                                </th>
                                                                <th><span title="Tuesday">Tu</span>
                                                                </th>
                                                                <th><span title="Wednesday">We</span>
                                                                </th>
                                                                <th><span title="Thursday">Th</span>
                                                                </th>
                                                                <th><span title="Friday">Fr</span>
                                                                </th>
                                                                <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">1</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">2</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">3</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">4</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">5</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">6</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">7</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">8</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">9</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">10</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">11</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">12</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">13</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">14</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">15</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">16</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">17</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">18</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default ui-state-highlight ui-state-active" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">19</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">20</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">21</a>
                                                                </td>
                                                                <td class=" ui-state-selected" title="ui-state-selected" data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">22</a>
                                                                </td>
                                                                <td class=" ui-state-selected" title="ui-state-selected" data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">23</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">24</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">25</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">26</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">27</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">28</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">29</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="3" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">30</a>
                                                                </td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="ui-datepicker-group ui-datepicker-group-last">
                                                    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-right"><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
                                                        <div class="ui-datepicker-title"><span class="ui-datepicker-month">May</span>&nbsp;<span class="ui-datepicker-year">2015</span>
                                                        </div>
                                                    </div>
                                                    <table class="ui-datepicker-calendar">
                                                        <thead>
                                                            <tr>
                                                                <th class="ui-datepicker-week-end"><span title="Sunday">Su</span>
                                                                </th>
                                                                <th><span title="Monday">Mo</span>
                                                                </th>
                                                                <th><span title="Tuesday">Tu</span>
                                                                </th>
                                                                <th><span title="Wednesday">We</span>
                                                                </th>
                                                                <th><span title="Thursday">Th</span>
                                                                </th>
                                                                <th><span title="Friday">Fr</span>
                                                                </th>
                                                                <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">1</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">2</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">3</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">4</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">5</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">6</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">7</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">8</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">9</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">10</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">11</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">12</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">13</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">14</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">15</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">16</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">17</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">18</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">19</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">20</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">21</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">22</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">23</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">24</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">25</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">26</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">27</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">28</a>
                                                                </td>
                                                                <td class=" " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">29</a>
                                                                </td>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">30</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="4" data-year="2015"><a class="ui-state-default" href="http://s.codepen.io/wannymiarelli/fullpage/zxPyJV?#">31</a>
                                                                </td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                                <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="ui-datepicker-row-break"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4 daysSection">

                                <ul>
                                    <li id="din" class="ng-binding"><b><i class="fa fa-arrow-right"></i> Check In:</b> 04/22/2015</li>
                                    <li id="dout" class="ng-binding"><b><i class="fa fa-arrow-left"></i> Check Out: </b> 04/23/2015</li>
                                </ul>

                                <div class="divider"></div>
                                <p class="days ng-binding"><b>Numero di noti:</b> 1</p>
                                <div class="divider"></div>

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label><i class="fa fa-user"></i> Adulti</label>
                                            <input type="number" class="form-control adults ng-valid ng-valid-min ng-valid-max ng-dirty ng-valid-number ng-touched" value="1" min="1" max="4" ng-model="book.rooms[0].adults">
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label><i class="fa fa-user"></i> Bambini</label>
                                            <input ng-click="rooms = true" type="number" value="0" class="form-control childs ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max" min="0" max="4" ng-model="book.rooms[0].childsNum" ng-change="book.generateChildren(book.rooms[0])">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label><i class="fa fa-barcode"></i> Codice Promo</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <button id="morerooms" type="button" class="btn btn-primary btn-sm btn-block" ng-click="rooms = !rooms">
                                            <span ng-show="rooms == true" class="ng-hide"><i class="fa fa-angle-left"></i> Torna alle date</span>
                                            <span ng-show="rooms == false"><i class="fa fa-angle-right"></i> Più le camere</span>
                                        </button>

                                    </div>

                                    <div class="col-md-12 validation ng-hide" ng-show="difference &lt; 1 || !book.from || !book.to">
                                        <strong>Attenzione per procedere :</strong>
                                        <p>Seleziona un range di date.
                                            <br>
                                        </p>

                                    </div>

                                    <div class="col-md-12">
                                        <button id="verify" ng-disabled="!difference || !book.from || !book.to" type="button" class="btn btn-success btn-lg btn-block" ng-click="book.verify(&#39;138&#39;, &#39;1331&#39;)"><i class="fa fa-search"></i> VERIFICA DISPONIBILITÀ</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row room-detail ng-hide" ng-show="rooms == 1">
                            <div class="col-md-12 inner-padding" id="roomlist">

                                <div class="row">
                                    <div class="col-md-12 rooms-header">
                                        <h4>Dettaglio Camera</h4>
                                    </div>
                                </div>

                                <!-- ngRepeat: room in book.rooms -->
                                <div ng-repeat="room in book.rooms" class="ng-scope">

                                    <div class="row">
                                        <div class="col-md-3 ng-binding">
                                            Camera 1
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="number" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="room.adults">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-max" ng-model="room.childsNum" ng-change="book.generateChildren(room)" max="4">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="book.removeRoom($index)"><i class="fa fa-trash-o"></i> Rimuovi</button>
                                        </div>
                                    </div>
                                    <!-- end of row -->

                                    <div class="row child-ages ng-hide" ng-show="room.childs.length &gt; 0">
                                        <!-- ngRepeat: children in room.childs -->
                                    </div>
                                    <!-- end of row -->

                                </div>
                                <!-- end ngRepeat: room in book.rooms -->
                                <!-- end of rooms -->

                            </div>

                            <div class="col-md-12 children-list">
                                <button class="btn btn-primary btn-sm" id="addroom" ng-click="book.addRoom()" ng-disabled="book.rooms.length &gt;= 4">
                                    <span ng-show="book.rooms.length &gt;= 4" class="ng-hide">
                                        Limite Raggiungo ( massimo 4 )
                                    </span>
                                    <span ng-show="book.rooms.length &lt; 4">
                                        Aggiungi camera
                                    </span>
                                </button>
                            </div>

                        </div>

                    </div>
                    <!-- end of container -->

                </div>
            </div>

            <!-- end of modal container -->

            <!--============= FINE WIDGET ============-->

            <!-- Continenti -->

            <!-- <div class="container marketing"> -->
            <div class="container marketing">
                <div class="row">
                    <div class="col-sm-4 ">
                        <i class="mg map-wrld-eu mg-6x"></i>
                        <h2>Europa</h2>
                        <p>Vacanze e weekend a tema per scoprire l’Europa e le sue capitali Da Lisbona a Varsavia, da Atene alla Scandinavia, dalla Francia all’Austria. Le vacanze in Europa targate Glas Travels sono affascinanti e istruttive, nonché piacevoli e convenienti. Le proposte più allettanti riguardano i weekend in Europa “mirati”, ossia consigli e soluzioni per non perdere tempo e organizzare un fine settimana all’insegna - a seconda delle preferenze - dell’arte, dello sport, della buona tavola, della famiglia o della cura del proprio corpo. Molte sono le mete favolose anche per un soggiorno balneare in Europa. </p>
                        <p><a class="btn btn-default" href="europa.html" role="button">Vedi le offerte</a>
                        </p>
                    </div>
                    <div class="col-sm-4 ">
                        <i class="mg map-wrld-am mg-6x"></i>
                        <h2>America</h2>
                        <p>La prima cosa che stupisce i visitatori è la vastità dei suoi spazi: montagne maestose, laghi grandi come mari, fiumi lunghissimi, enormi parchi nazionali dalla bellezza selvaggia, città interminabili e ampie pianure con distanze quasi improbabili se percorse via terra. Ognuno dei 50 Stati che formano la nazione degli Stati Uniti è in grado di riservare continue sorprese al turista. Le Americhe sono un continente, da scoprire con più viaggi, seguendo i propri interessi, per poter cogliere le mille sfaccettature della loro natura e dei loro abitanti. </p>
                        <p><a class="btn btn-default" href="america.html" role="button">Vedi le offerte</a>
                        </p>
                    </div>
                    <div class="col-sm-4 ">
                        <i class="mg map-wrld-as mg-6x"></i>
                        <h2>Asia</h2>
                        <p>Tutte le strade oggi portano a Pechino, proprio come un tempo portavano a Roma. La Cina è, infatti, il Paese più popolato del mondo, dal nobile passato e dal futuro promettente, locomotiva economica del pianeta e frontiera avanzata della globalizzazione. Tuttavia, questo sterminato paese è per larghi tratti ancora quello che scoprì Marco Polo, una meravigliosa terra, misteriosa e affascinante, che custodisce segreti e arcani da svelare. Un originale mix di spiritualità confuciana e pragmatismo mercantile, di antica sapienza ed efficiente dinamismo. </p>
                        <p><a class="btn btn-default" href="asia.html" role="button">Vedi le offerte</a>
                        </p>
                    </div>
                </div>

                <div class="seconda-riga">
                    <div class="col-sm-4 col-sm-offset-2">
                        <i class="mg map-wrld-af mg-6x"></i>
                        <h2>Africa</h2>
                        <p>Bella, oziosa, rilassata e piena di gioia di vivere: Città del Capo è veramente una piccola metropoli da visitare con lentezza, lasciandosene affascinare. Panorami mozzafiato, dimore storiche, villaggi costieri, montagne leggendarie come Table Mountain o Cape of Good Hope, il mitico Capo di Buona Speranza. La “città madre” del Sudafrica è il luogo dove la Nazione è nata, in cui le diverse culture del Paese si sono stratificate, combattute e pacificate.
                            <br>I parchi nazionali del sudafrica rappresentano ovviamente una delle principali attrattive di questo vasto paese. Tutti i parchi e le riserve beneficiano di infrastrutture di alto livello e all’avanguardia. Alcuni dei parchi più estesi propongono escursioni naturalistiche guidate da ranger. Anche se non è sempre necessaria la presenza di un accompagnatore, è comunque certo che muovendosi con l’ausilio di una guida esperta è possibile vedere e imparare molto di più che non da soli, oltretutto in totale sicurezza. Il sudafrica è probabilmente il paese che offre le migliori opportunità di osservare i cosiddetti “big five” e cioè rinoceronti, bufali, leoni, leopardi ed elefanti. </p>
                        <p><a class="btn btn-default" href="africa.html" role="button">Vedi le offerte</a>
                        </p>
                    </div>


                    <div class="col-sm-4">
                        <i class="mg map-wrld-oc mg-6x"></i>
                        <h2>Oceania</h2>
                        <p><em>"L’Australia è il più secco, piatto, caldo, arido sterile e climaticamente aggressivo di tutti i continenti abitati”</em> - Bill Bryson (Un paese bruciato dal sole)
                            <br>
                            <br> Eppure malgrado questa sia l’istantanea che abbiamo impresso a fuoco nel nostro immaginario collettivo (spesso anche in quello degli stessi Australiani), questa isola-continente è estremamente “cittadina”, l’80 per cento dei suoi abitanti vive in città. Monumento alla modernità, alla razionalità e al gusto del buon vivere, le città australiane sono verdi di parchi e giardini, piene di luoghi di ritrovo, di negozi, ristoranti, eventi culturali e mondani. Non sono attrazioni o “trappole” turistiche, ma luoghi dove si respira una Australia diversa e altrettanto vera di quella dell’outback. Vestiti in giacca e cravatta e con la ventiquattr’ore in mano gli australiani sono ancora se stessi: informali, accomodanti, ma non ingenui. Decisi a rivendicare la propria unicità, desiderosi di affermarsi, diffidenti, aperti al nuovo e soprattutto capaci ancora di credere che la ricchezza della vita stia nel confrontarsi e raccontarsi. Incontrateli.
                        </p>
                        <p><a class="btn btn-default" href="oceania.html" role="button">Vedi le offerte</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Marketing -->

            <br>
            <div class="container featurette">

                <hr class="featurette-divider">
                <br>
                <div class="row featurette">
                    <div class="col-sm-7">
                        <h4 class="featurette-heading"><em>Che cosa dicono di noi. </em><span class="text-muted">Wired Magazine</span></h4>
                        <p class="lead">Chi gestisce il sito è molto efficiente. In due giorni, il viaggio dei propri sogni è bello che prenotato. <em>Glas Travels</em> scalerà sicuramente le classifiche per il miglior TOP TRAVEL SITE.
                            <br>
                            <br><a class="btn btn-default" href="recensioni.html" role="button">Vedi le altre recensioni</a>
                        </p>
                    </div>
                    <div class="col-sm-5 hidden-xs">
                        <img class="featurette-image img-responsive" src="img/Wired_logo.png" alt="Wired logo">
                    </div>
                </div>

                <hr class="featurette-divider">
                <br>

                <div class="row featurette hidden-xs">
                    <div class="row" id="Robert">
                        <p id="cit">&ldquo;Io viaggio non per andare da qualche parte, ma per andare. Viaggio per viaggiare…&rdquo;</p>
                        <p class="lead">-<em>Robert Louis Stevenson</em>
                        </p>
                    </div>
                    <hr class="featurette-divider">
                    <br>
                </div>
                <div class="row featurette">
                    <div class="col-sm-5 hidden-xs">
                        <img class="featurette-image img-responsive" src="img/GlasTravelsLOGO.png" alt="Logo azienda">
                    </div>
                    <div class="col-sm-7">
                        <h4 class="featurette-heading"><em id="logo_featurette">Glas Travels.</em> <span class="text-muted">Chi siamo.</span></h4>
                        <p>Compagnia di viaggi da poco sul mercato, che già non ha tradito i clienti che l'hanno scelta.
                            <br>Viaggi all’insegna della conoscenza approfondita di una destinazione, viaggi pensati per suscitare emozioni e liberare fantasie. Itinerari che conducono attraverso storia, tecnologia e abitudini. Venite con noi, con la nostra passione, a riscoprire cosa si trova nel mondo! E ricordate: non come turisti, ma come ospiti!
                            <br>
                            <br><a class="btn btn-default" href="chi_siamo.html" role="button">Scopri di più su di noi</a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->

    <div id="footer"></div>


    <!-- Bootstrap Javascript Core-->

    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/docs.min.js"></script> -->

    <!-- scripts parts -->

    <script>
        $("#navbar").load("navbar.html");
    </script>
    <script>
        $("#footer").load("footer.html");
    </script>

</body>

</html>